*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
/* Apply Poppins font to headings, paragraphs, and buttons */
h1, h2, h3, h4, h5, h6, span,
.accordion-button {
  font-family: 'Poppins', sans-serif !important;
}
p, li, ul, .nav-link, .btn, a,
.accordion-body {
  font-family: 'Outfit', sans-serif !important;
  color: #4d4d4d;
}
  
  .nav-link{
    color: black;
  }
  .nav-link:hover{
    color: #0B8001;
  }
  /* genral styles  */
  .color{
    color: #15640d;
  }
  .button {
    background-color: #0B8001;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid transparent; /* ✅ transparent border */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    font-family: 'Outfit', sans-serif !important;
    box-shadow: none;
  }
  
  .button:hover{
    background-color: #fff;
    color: #0B8001;
    border: 1px solid #0B8001; 
    outline: none;
    box-shadow: none;
  }
  .button:focus,
.button:active {
  background-color: #fff !important; /* ✅ same as hover */
  color: #0B8001 !important;
  border: 1px solid #0B8001 !important;
  outline: none !important;
  box-shadow: none !important;
}
@media (max-width: 576px) {
    .button {
        padding: 10px 20px;
        font-size: 0.85rem;
     
    }
}
  
.section{
    padding: 90px 0;
}
.btn-success{
    background-color: #198754  !important;
    border-color: #198754 !important;
    color: white !important;
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1440px !important;
  }
}


.footer-text {
  color: #212529; /* unaku consistent color */
}